<div class="container h-100">
  <div class="row d-flex h-100 align-items-center justify-content-center">
    <div class="col-10 h-80">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>QR Label Generator</mat-card-title>
          <mat-card-subtitle>Ce générateur vous permet de générer des étiquettes avec QR Code à partir d'un fichier CSV.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-stepper [linear]="true" #stepper class="mt-2">
            <mat-step state="file" [completed]="selectedFile">
              <ng-template matStepLabel>Choix du fichier</ng-template>
              <ng-template matStepperIcon="file">
                <mat-icon>file</mat-icon>
              </ng-template>
              <div class="mt-2">
                <button type="button" mat-raised-button color="primary" (click)="fileInput.click()">
                    <mat-icon>file_upload</mat-icon>
                    Choisir un fichier
                </button>
                <input hidden (change)="onFileSelected($event)" #fileInput type="file" accept=".csv">
                <span class="ms-2">{{selectedFile?.name}}</span>
              </div>
              <div class="d-flex justify-content-center mt-2">
                <button mat-button matStepperPrevious disabled>Précédent</button>
                <button mat-button matStepperNext [disabled]="selectedFile == null">Suivant</button>
              </div>
            </mat-step>
            <mat-step state="columns" [completed]="columnsValid">
              <ng-template matStepLabel>Choix des colonnes</ng-template>
              <ng-template matStepperIcon="columns">
                <mat-icon>rule</mat-icon>
              </ng-template>
              <div class="d-column-flex mt-2">
                <div class="row">
                  <mat-form-field class="col-7">
                    <mat-label>Valeur du QR Code</mat-label>
                    <mat-select [formControl]="qrColumns" (selectionChange)="onColumnsSubmit()">
                      @for (qrCol of columns; track qrCol.name; let i = $index) {
                        <mat-option [value]="i">{{qrCol.name}}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                  <div class="col-5 mt-auto mb-auto">
                    <h4>Les valeurs de cette colonne seront utilisées pour générer les QR Codes.</h4>
                  </div>
                </div>

                <mat-divider class="mb-4"></mat-divider>

                <div class="row">
                  <mat-form-field class="col-7">
                    <mat-label>Texte de la 1ère ligne</mat-label>
                    <mat-select [formControl]="flColumns" (selectionChange)="onColumnsSubmit()">
                      @for (flCol of columns; track flCol.name; let i = $index) {
                        <mat-option [value]="i">{{flCol.name}}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                  <div class="col-5 mt-auto mb-auto">
                    <h4>Les valeurs de cette colonne seront écrites sur la première ligne de l'étiquette.</h4>
                  </div>
                </div>

                <mat-divider class="mb-4"></mat-divider>

                <div class="row">
                  <mat-form-field class="col-7">
                    <mat-label>Texte de la 2nde ligne</mat-label>
                    <mat-select [formControl]="slColumns" (selectionChange)="onColumnsSubmit()">
                      @for (slCol of columns; track slCol.name; let i = $index) {
                        <mat-option [value]="i">{{slCol.name}}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                  <div class="col-5 mt-auto mb-auto">
                    <h4>Les valeurs de cette colonne seront écrites sur la seconde ligne de l'étiquette.</h4>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-center mt-2">
                <button mat-button matStepperPrevious>Précédent</button>
                <button mat-button matStepperNext [disabled]="!columnsValid">Suivant</button>
              </div>
            </mat-step>
            <mat-step state="preview" [completed]="previewDone">
              <ng-template matStepLabel>Prévisualisation</ng-template>
              <ng-template matStepperIcon="preview">
                <mat-icon>image</mat-icon>
              </ng-template>
              <button type="button" mat-raised-button color="primary" (click)="onPreviewClick()">
                <mat-icon>image</mat-icon>
                Prévisualiser
              </button>
              @if (src != '') {
                <div class="row mt-2">
                  <img [src]="src" alt="Prévisualisation" class="col-12 col-md-6 col-lg-4">
                </div>
              }
              <div class="d-flex justify-content-center mt-2">
                <button mat-button matStepperPrevious>Précédent</button>
                <button mat-button matStepperNext [disabled]="!previewDone">Suivant</button>
              </div>
            </mat-step>
            <mat-step state="generation">
              <ng-template matStepLabel>Génération</ng-template>
              <ng-template matStepperIcon="generation">
                <mat-icon>download</mat-icon>
              </ng-template>
              <button type="button" mat-raised-button color="primary" (click)="download()">
                <mat-icon>download</mat-icon>
                Générer et télécharger
              </button>
              <div class="d-flex justify-content-center mt-2">
                <button mat-button matStepperPrevious>Précédent</button>
                <button mat-button matStepperNext disabled>Suivant</button>
              </div>
            </mat-step>
          </mat-stepper>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
